.container {
  width: 60px;
  height: 250px;
  position: Relative;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.shadow {
  width: 60px;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  animation: shadow 5s ease-in-out infinite;
  margin: auto;
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
}

@keyframes shadow {
  0% {
    width: 60px;
  }
  10% {
    width: 10px;
  }
  20% {
    width: 60px;
  }
  30% {
    width: 10px;
  }
  40% {
    width: 60px;
  }
  50% {
    width: 10px;
  }
  60% {
    width: 60px;
  }
  70% {
    width: 10px;
  }
  92% {
    width: 10px;
  }
  100% {
    width: 60px;
  }
}

.circle {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 0;
  animation: circle 5s ease-in-out infinite;
}

.circle img {
  border-radius: 50%;
}
@keyframes circle {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-190px);
  }
  20% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-190px);
  }
  40% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-190px);
  }
  60% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-190px);
  }
  92% {
    transform: translateY(0);
  }
}
