@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #dae1e2;
  transition: 0.3s all;
}
.card:hover {
  background-color: #f7f7f7;
}
.card_profile {
  width: 100%;
  padding: 10px 20px;
}
.card_profile a {
  display: flex;
  justify-content: start;
  align-items: center;
}
.card_profile a span {
  margin-left: 10px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.card_profile a span div:nth-child(1) {
  color: #566370;
}
.card_profile a span div:nth-child(2) {
  color: #8599ad;
}
.card_profile a span div:nth-child(1):hover {
  border-bottom: 1px solid #566370;
}
.card_info {
  width: 500px;
  height: 389px;
  background-size: 500px 389px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.card_info_inner {
  width: 450px;
  height: 350px;
  margin-top: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card_detail {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.card_image_pic {
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 5px;
}

.card_image {
  width: 100% !important;
  height: auto !important;
  border-radius: 5px;
}

.card_word_detail div {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card_word {
  width: 180px;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
.card_word div {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card_like {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 450px;
  margin-top: 10px;
}
.card_tag {
  color: #fb6072;
  background-color: #e6eef6;
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
}

/* ----- like ----- */
.like_true,
.like_false {
  position: relative;
  background-color: white;
  width: 100px;
  height: 27px;
  border: 2px solid black;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.like_true::before,
.like_false::before {
  position: absolute;
  content: '';
  width: 10px;
  height: 100%;
  top: 0;
  right: 0;
}
.like_true span,
.like_false span {
  margin-left: 5px;
}
.like_true::before {
  background-color: #fb6072;
}
.like_false::before {
  background-color: #ffd645;
}
.like_icon {
  transition: 0.2s all;
}
.like_true:hover .like_icon,
.like_false:hover .like_icon {
  font-size: 20px;
}

/* ----- Memorize ----- */
.memo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s all;
}
.memo_image {
  width: 43px;
  height: 33px;
}
.memo:hover {
  background-color: #e6eef6;
}

/* ----- write card - word ----- */
.write_card {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 480px;
  height: 680px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.write_card_info {
  width: 100%;
}
.write_card_info div {
  width: 100%;
  height: 35px;
  margin: 30px 0;
  text-align: center;
}
.write_card_info div textarea {
  width: 70%;
  height: 35px;
  max-height: 50px;
  padding: 10px;
  resize: none;
  overflow-y: hidden;
}
.write_card_info div textarea:focus {
  outline: none;
  border-bottom: 2px solid #8599ad;
}
.post_btn {
  background-color: #ffd645;
  width: 120px;
  height: 30px;
  border-radius: 20px;
  transition: 0.2s all;
  cursor: pointer;
}
.post_btn:hover {
  background-color: #fb6072;
}

/* ----- write card - md ----- */
.write_card_post {
  display: flex;
  width: 80%;
  padding-top: 10px;
}
.write_card_title {
  width: 100%;
  height: 30px;
  padding: 10px;
}
.write_card_btn {
  background-color: #ffd645;
  width: 120px;
  height: 30px;
  border-radius: 20px;
  transition: 0.2s all;
  cursor: pointer;
}
.write_card_btn:hover {
  background-color: #fb6072;
}
.write_card_eye {
  position: absolute;
  top: 200px;
  right: 50px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.2s all;
  cursor: pointer;
  background-color: #fb6072;
  color: white;
}
.write_card_eye:hover {
  background-color: #ff1e46;
}
.write_card_md {
  position: relative;
  margin: auto;
  width: 80%;
  overflow: hidden;
  border: 2px solid #dae1e2;
  margin-bottom: 5px;
}
.write_card_md_inner {
  position: relative;
  right: 0;
  width: 200%;
  transition: 0.3s all;
}

@media (max-width: 768px) {
  .card_detail {
    justify-content: center;
  }
  .card_info {
    width: 100%;
  }
  .card_info_inner {
    width: 100%;
  }
  .card_image_pic {
    width: 80px;
    height: 80px;
  }

  .card_word {
    width: 50%;
    height: 100%;
  }
  .card_word div {
    height: 33%;
  }
  .card_like {
    width: 100%;
    margin: 0;
  }

  /* ----- memorize ----- */
  .memo span {
    display: none;
  }

  /* ----- write card ----- */
  .write_card {
    width: 320px;
    height: 450px;
  }
  .write_card_info div {
    margin: 15px 0;
  }
  .write_card_info div textarea {
    height: 30px;
    max-height: 45px;
  }
  .write_card_btn,
  .post_btn {
    width: 80px;
  }
  .write_card_eye {
    top: 135px;
    width: 30px;
    height: 30px;
  }

  /* ----- like ----- */
  .like_true,
  .like_false {
    width: 80px;
    height: 27px;
  }
}
