* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
input[type='radio'] {
  margin-top: 3px;
}

/* ----- Layout ----- */
.main-layout {
  height: 100vh;
  color: black;
  background-color: #ffffff;
}
.layout-inner {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 80rem;
}
.layout-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100vh;
}
.content-container {
  grid-column: span 3;
  background-color: #ffffff;
  border-left: 1px solid #dae1e2;
  border-right: 1px solid #dae1e2;
  min-width: 275px;
}

/* ----- Video ----- */
.home_vedio {
  display: block;
  width: 100%;
}

/* ----- memoTab ----- */
.tab_active {
  color: #fb6072;
  border-bottom: 3px solid #fb6072;
}
.memoTab {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 700;
  width: 100%;
  height: 35px;
  border-top: 1px solid #dae1e2;
  border-bottom: 1px solid #dae1e2;
  background-color: #ffd645;
  overflow: hidden;
}
.memoTab .tab {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

/* ----- clip ----- */
.clip {
  position: absolute;
  max-width: 50px;
  max-height: 64.5px;
  left: calc(50% - 25px);
  top: -31px;
}

/* ----- home ----- */
.home {
  position: relative;
  width: 100%;
}

/* ----- modal ----- */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal_background {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background: black;
}

/* ----- back ----- */
.back {
  width: 100%;
  padding: 20px;
  background-color: white;
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
  transition: 0.2s all;
  font-weight: bold;
}
.back:hover {
  background-color: #f7f7f7;
}
.back span {
  transition: 0.2s all;
}
.back:hover.back span {
  transform: translateX(30px);
}

/* ----- search ----- */
.search {
  text-align: center;
}
.search_input {
  padding: 30px;
  border-bottom: 1px solid #dae1e2;
}
.search input {
  width: 80%;
  padding: 10px 20px;
  border-radius: 20px;
}
.search_result {
  padding: 20px;
  font-weight: bold;
  font-size: 24px;
}

/* write_md */
.w-md-editor-toolbar {
  visibility: hidden;
}
.w-md-editor-text-input {
  resize: none;
}

@media (min-width: 1024px) {
  /* ----- Layout ----- */
  .content-container {
    grid-column: span 2;
  }
}

/* ----- loader ----- */
.loader_pic {
  width: 100%;
  height: 100%;
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 10px solid;
  box-sizing: border-box;
  animation: animloader 1s linear infinite alternate;
}
@keyframes animloader {
  0% {
    border-color: white rgba(255, 255, 255, 0) rgba(255, 255, 255, 0)
      rgba(255, 255, 255, 0);
  }
  33% {
    border-color: white white rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
  }
  66% {
    border-color: white white white rgba(255, 255, 255, 0);
  }
  100% {
    border-color: white white white white;
  }
}
