/* ------ Sidebar ------ */
.sidebar {
  display: flex;
  justify-content: flex-end;
  padding: 10px 30px;
  min-width: 40px;
}
.sidebar_inner {
  position: fixed;
}

/* ----- SidebarItem ------ */
.item,
.item_active {
  background-color: white;
  border: 2px solid #cdd5e0;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 3px 20px;
  margin-bottom: 13px;
}
.item::before,
.item_active::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  height: 100%;
}
.item::before {
  background-color: #ffd645;
}
.item_active::before {
  background-color: #fb6072;
}
.item::after {
  content: '';
  background-color: #cdd5e0;
  border: 0px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: 0.2s all;
}
.item_active::after {
  content: '';
  background-color: #d2d3d5;
  border: 2px solid #cdd5e0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(3deg) translateY(3px);
  z-index: -1;
  transition: 0.2s all;
}
.item:hover.item::after {
  border: 2px solid #dae1e2;
  transform: rotate(3deg) translateY(3px);
}
.item_active:hover.item_active::after {
  border: 0px;
  transform: rotate(0deg) translateY(0px);
}
a .item,
a .item_active,
.setting_btn {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 23px;
  font-weight: bold;
}

/* ------ SidebarLogo ------ */
.logo {
  margin: 10px 0;
}
.logo_image {
  border-radius: 50%;
}

/* ----- tag ----- */
.hash_active {
  color: #fb6072;
}
.tag_inner {
  position: fixed;
  background-color: #ffd645;
  width: 200px;
  margin: 80px 0 0 30px;
  padding: 30px;
  text-align: left;
  border: 2px solid #cdd5e0;
}
.tagBtn {
  background-color: #fb6072;
  color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  left: -60px;
  top: 10px;
  border: 2px solid #ffd645;
  border-radius: 50%;
  padding: 5px;
  transition: 0.5s all;
}
.hash_add {
  text-align: center;
  font-size: 18px;
}
.hash_tag {
  margin: 10px 10px 10px 0;
  cursor: pointer;
}
.hash_tag span {
  padding-left: 10px;
}

/* ------ addBtn ------ */
.addBtn {
  background-color: #fb6072;
  border-radius: 30px;
  width: 100%;
  height: 50px;
  padding: 3px 15px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s all;
  color: white;
}
.addBtn span {
  margin-left: 10px;
}
.addBtn:hover {
  background-color: #f84f62;
}

@media screen and (max-width: 1024px) {
  /* ------ Sidebar ------ */
  .sidebar {
    grid-column: span 1;
    display: flex;
    justify-content: flex-end;
  }

  /* ----- SidebarItem ------ */
  a .item,
  a .item_active,
  .setting_btn {
    position: relative;
    font-size: 20px;
  }

  /* ----- tag ----- */
  .tag {
    position: fixed;
  }
  .tag_inner {
    width: 50%;
    height: 100vh;
    grid-column: span 1;
    bottom: 0;
    right: -50%;
    transition: 0.5s all;
  }
  .tag_container {
    height: 100vh;
    padding: 0 0 10px 0;
    overflow-y: scroll;
  }
  .tag_container::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  /* ------ Sidebar ------ */
  .sidebar {
    justify-content: center;
  }

  /* ----- SidebarItem ------ */
  .moblie_item {
    width: 100%;
  }
  .item_icon {
    position: absolute;
  }
  .item_label,
  .addBtn span {
    display: none;
  }

  .item,
  .item_active,
  .setting_btn {
    justify-content: center;
    margin-bottom: 0;
    width: 100%;
    border-left: none;
  }
  .item:nth-child(1),
  .item_active:nth-child(1) {
    border-left: 2px solid #cdd5e0;
  }

  .item::before,
  .item_active::before {
    width: 8px;
  }

  .item::after,
  .item_active::after {
    display: none;
  }

  /* ------ SidebarLogo ------ */
  .logo {
    margin: 0;
  }
  .logo_image {
    width: 54px;
    height: 50px;
    border-radius: 0;
  }

  /* ----- tag ----- */
  .tag_inner {
    width: 100%;
    height: 100%;
    right: -100%;
    border-radius: 0;
  }

  /* ----- addBtn ----- */
  .addBtn {
    width: 100%;
    height: 50px;
    margin-bottom: 0;
    border-radius: 0;
    border: 2px solid #cdd5e0;
  }
}
@media screen and (max-width: 375px) {
  .sidebar {
    justify-content: center;
  }
}
